/* header */
.navbar {
    background-color: transparent !important;
}

.link-custom {
    color: var(--color-purple-dark) !important;
    font-weight: 500;
}

.link-custom:hover {
    color: var(--color-purple-medium) !important;
}

.link-custom:active {
    color: var(--color-purple-dark) !important;
    font-weight: 600;
}

.section {
    padding: 4.8rem;
}

.section-color {
    background-color: var(--color-purple-lilas-muito-claro);
}

.cards {
    gap: 3rem;
    display: flex;
    justify-content: center;
}

.card {
    width: 260px;
    height: 280px;
    border-radius: 2rem;
    border: 1px solid var(--color-purple-lilas-claro);
    justify-content: center;
    align-items: center;
    padding: 2.4rem;
}

.upload-button {
    background-color: transparent;
    border: transparent;
}

.profile-header {
    background-image: url(../imagens/capa.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    padding: 2.8rem 10rem;
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
}

.header-edited {
    background-image: url(../imagens/capa_2.jpg);
}

.profile-image {
    border-radius: 1000px;
    border: 5px solid var(--color-purple-lilas-claro);
}

.content {
    border: 1px, solid var(--color-purple-lilas-claro);
    border-radius: 2.4rem;
    padding: 3.2rem;
}

.chip-custom {
    color: var(--color-white);
    font-weight: 700;
    background-color: var(--color-purple-dark);
    border-radius: 3rem;
    padding: 1.4rem 2rem;
}